# root folder (razorfish-library)
/.project
/.hg*
/.idea
/*.iml
/Thumbs.db
/.DS_Store
/.*~
/build
/private
/target
/.settings
/.classpath
/bin

# bundles folder
/bundles/.project
/bundles/.hg_archival.txt
/bundles/.hgignore
/bundles/.idea
/bundles/dotcom.iml
/bundles/Thumbs.db
/bundles/.DS_Store
/bundles/.*~
/bundles/build
/bundles/private
/bundles/target
/bundles/.settings
/bundles/.classpath
/bundles/bin

# taglibs folder
/bundles/taglibs/.project
/bundles/taglibs/.hg_archival.txt
/bundles/taglibs/.hgignore
/bundles/taglibs/.idea
/bundles/taglibs/dotcom.iml
/bundles/taglibs/Thumbs.db
/bundles/taglibs/.DS_Store
/bundles/taglibs/.*~
/bundles/taglibs/build
/bundles/taglibs/private
/bundles/taglibs/target
/bundles/taglibs/.settings
/bundles/taglibs/.classpath
/bundles/taglibs/bin

# utils folder
/bundles/utils/.project
/bundles/utils/.hg_archival.txt
/bundles/utils/.hgignore
/bundles/utils/.idea
/bundles/utils/dotcom.iml
/bundles/utils/Thumbs.db
/bundles/utils/.DS_Store
/bundles/utils/.*~
/bundles/utils/build
/bundles/utils/private
/bundles/utils/target
/bundles/utils/.settings
/bundles/utils/.classpath
/bundles/utils/bin

# packages folder
/packages/.project
/packages/.hg_archival.txt
/packages/.hgignore
/packages/.idea
/packages/dotcom.iml
/packages/Thumbs.db
/packages/.DS_Store
/packages/.*~
/packages/build
/packages/private
/packages/target
/packages/.settings
/packages/.classpath
/packages/bin

# bundle-install folder
/packages/bundle-install/.project
/packages/bundle-install/.hg_archival.txt
/packages/bundle-install/.hgignore
/packages/bundle-install/.idea
/packages/bundle-install/dotcom.iml
/packages/bundle-install/Thumbs.db
/packages/bundle-install/.DS_Store
/packages/bundle-install/.*~
/packages/bundle-install/build
/packages/bundle-install/private
/packages/bundle-install/target
/packages/bundle-install/.settings
/packages/bundle-install/.classpath
/packages/bundle-install/bin

# dependencies-install folder
/packages/dependencies-install/.project
/packages/dependencies-install/.hg_archival.txt
/packages/dependencies-install/.hgignore
/packages/dependencies-install/.idea
/packages/dependencies-install/dotcom.iml
/packages/dependencies-install/Thumbs.db
/packages/dependencies-install/.DS_Store
/packages/dependencies-install/.*~
/packages/dependencies-install/build
/packages/dependencies-install/private
/packages/dependencies-install/target
/packages/dependencies-install/.settings
/packages/dependencies-install/.classpath
/packages/dependencies-install/bin
