# root folder (razorfish-library)
/.project
/.hg*
/.idea
/*.iml
/Thumbs.db
/.DS_Store
/.*~
/build
/private
/target
/.settings
/.classpath
/bin

# bundles folder
/bundles/.project
/bundles/.hg_archival.txt
/bundles/.hgignore
/bundles/.idea
/bundles/dotcom.iml
/bundles/Thumbs.db
/bundles/.DS_Store
/bundles/.*~
/bundles/build
/bundles/private
/bundles/target
/bundles/.settings
/bundles/.classpath
/bundles/bin

# taglibs folder
/bundles/taglibs/.project
/bundles/taglibs/.hg_archival.txt
/bundles/taglibs/.hgignore
/bundles/taglibs/.idea
/bundles/taglibs/dotcom.iml
/bundles/taglibs/Thumbs.db
/bundles/taglibs/.DS_Store
/bundles/taglibs/.*~
/bundles/taglibs/build
/bundles/taglibs/private
/bundles/taglibs/target
/bundles/taglibs/.settings
/bundles/taglibs/.classpath
/bundles/taglibs/bin

# utils folder
/bundles/utils/.project
/bundles/utils/.hg_archival.txt
/bundles/utils/.hgignore
/bundles/utils/.idea
/bundles/utils/dotcom.iml
/bundles/utils/Thumbs.db
/bundles/utils/.DS_Store
/bundles/utils/.*~
/bundles/utils/build
/bundles/utils/private
/bundles/utils/target
/bundles/utils/.settings
/bundles/utils/.classpath
/bundles/utils/bin

# packages folder
/packages/.project
/packages/.hg_archival.txt
/packages/.hgignore
/packages/.idea
/packages/dotcom.iml
/packages/Thumbs.db
/packages/.DS_Store
/packages/.*~
/packages/build
/packages/private
/packages/target
/packages/.settings
/packages/.classpath
/packages/bin

# rf-library-bundle folder
/packages/rf-library-bundle/.project
/packages/rf-library-bundle/.hg_archival.txt
/packages/rf-library-bundle/.hgignore
/packages/rf-library-bundle/.idea
/packages/rf-library-bundle/dotcom.iml
/packages/rf-library-bundle/Thumbs.db
/packages/rf-library-bundle/.DS_Store
/packages/rf-library-bundle/.*~
/packages/rf-library-bundle/build
/packages/rf-library-bundle/private
/packages/rf-library-bundle/target
/packages/rf-library-bundle/.settings
/packages/rf-library-bundle/.classpath
/packages/rf-library-bundle/bin

# rf-library-dependencies folder
/packages/rf-library-dependencies/.project
/packages/rf-library-dependencies/.hg_archival.txt
/packages/rf-library-dependencies/.hgignore
/packages/rf-library-dependencies/.idea
/packages/rf-library-dependencies/dotcom.iml
/packages/rf-library-dependencies/Thumbs.db
/packages/rf-library-dependencies/.DS_Store
/packages/rf-library-dependencies/.*~
/packages/rf-library-dependencies/build
/packages/rf-library-dependencies/private
/packages/rf-library-dependencies/target
/packages/rf-library-dependencies/.settings
/packages/rf-library-dependencies/.classpath
/packages/rf-library-dependencies/bin
