<!--/* In Author / Edit mode the form will be diplayed to the user*/-->
<div data-sly-test.isEditMode="${wcmmode.edit}">
    <div> This is the author mode </div>
    <h2>Add Products to catalog</h2>
        <p>Form to create products</p>
        <form id="createProduct" name="createProduct" action="${currentNode.path}.product.POST.html'" method="post">
          <table style="width:600px">
            <tr>
              <td><b>Product Name *</b></td>
              <td>
                  <input id="productName"  name="productName"  type="text" style="width:250px"  required/>
              </td>
            </tr>
            <tr>
              <td><b>Product Price(&#8377;) *</b></td>
              <td>
                  <input id="productPrice"  name="productPrice"  type="text" style="width:250px"  required/>
              </td>
            </tr>
            <tr>
               <td><b>Product Description *</b></td>
               <td>
                   <textarea id="productDescription" name="productDescription" rows="3" cols="20" style="width:250px" required></textarea>
               </td>
            </tr>
            <tr>
               <td><b>Product Image *</b></td>
               <td>
                   <input id="productImage"  name="productImage"  type="text" style="width:250px" required/>
               </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="submitButton" name="submitButton" type="submit" value="Create Product"
                        style="background-color: #081E41; color: #ffffff; font-size:1.0em; height:30px" onClick="return validatePrice();"/>
                </td>
            </tr>
          </table>
        </form>
</div>
    <!--/* In WCMmode disbled show the list of products */-->
<div data-sly-test="${!isEditMode}" style="text-align: center;">
    <span style="font-size: 40px; font-family: 'PathwayGothic', 'AltGothic', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">Product List</span>
    <div data-sly-use.plist="${'com.foosball.components.productmap.RetrieveProductsWcmUse'}">
    	<table  cellspacing="1" cellpadding="0" data-sly-list="${plist.productList}" class="productTable">
                <tr>
                    <td class="productTd">
                        <span class="productImage"><img src="${item.imageloc}" alt="${item.productName}" width="150"/><h3>&#8377;${item.price}</h3></span>
                        <div><h2>${item.productName}</h2></div>
                        <span><p>${item.description}</p></span>               
                    </td>
                </tr>
        </table>
    </div>
</div>