<div style="background-color:#6095C9;height:40px;border: 3px solid #47719C;font-weight:bold;">
        <div style="display:inline-block;vertical-align: middle;width:700px;font-size:20px;margin-left:30px;color:#fff;">Foosball Champs Blog</div>
        <div style="display:inline-block;text-align:right;vertical-align:middle;width:100px;">
           
           	 <input type="submit" id="back" style="background-color: rgb(255, 157, 153); width: 150px;color:#fff;" value="Back">
            
        </div>
    </div>
<div data-sly-use.blog="${'com.foosball.blog.wcm.components.AddPostWcmUse'}" data-sly-unwrap>
	
    Your post successfully added to catalog. 
</div>

