td {
	border-left: 0px;
}

.productTd {
	border: 1px solid grey !important;
	width: 300px;
	margin: 5px;
}

.productTable {
	border: 0px;
	width: 650px;
	margin: 0 auto;
}

.productImage {
	border: 1px solid grey;
	width: 200px;
	height: 200px;
	text-align: center;
	float: left;
}

h2 {
	font-size: 2.0rem;
}

#likeBtn {
	background-color: #AAC56C;
	width: 50px;
	color: #fff;
	border: 1px solid #839950;
	margin-left: 5px;
}

.likes {
	border: 1px solid #000;
}

hr {
	margin: 5px;
}

#addPostBtn {
	float: right;
	height: 30px;
	position: relative;
	margin: 1%;
	background-color: rgb(255, 157, 153);
	width: 150px;
	color: #fff;
}

#commentBtn {
	height: 30px;
	position: relative;
	margin: 1%;
	background-color: rgb(255, 157, 153);
	width: 150px;
	color: #fff;
}

#backBtn {
	float: right;
	height: 30px;
	position: relative;
	margin: 1%;
	background-color: rgb(255, 157, 153);
	width: 150px;
	color: #fff;
}

.header {
	background-color: #6095C9;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
}

.comments {
	display: none;
}